<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <meta name="HandheldFriendly" content="True">
    <title>{{{ title }}} | {{capitalize project.shortname }}</title>
    <link rel="canonical" href="{{project.site_url}}/{{#if meta_url}}{{meta_url}}.html{{/if}}">
    <meta name="description" content="{{{ description }}}" />
    <meta name="name" content="{{{ title }}}"/>
  <!--   <meta property="fb:pages" content="TODO"/>
    <meta property="fb:app_id" content="TODO"/> -->
    <meta property="og:site_name" content="Lusine" />
    <meta property="og:url" content="{{project.site_url}}/{{#if meta_url}}{{meta_url}}.html{{/if}}" />
    <meta property="og:title" content="{{{ title }}}" />
    <meta property="og:description" content="{{{ description }}}" />
    <meta property="og:image" content="{{project.site_url}}/img/content/share-default.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{project.site_url}}" />
    <meta name="twitter:title" content="{{{ title }}}" />
    <meta name="twitter:description" content="{{{ description }}}" />
    <meta name="twitter:image" content="{{project.site_url}}/img/content/share-default.jpg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/icons/manifest.json">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#fc1561">
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="/css/{{ project.shortname }}.main.css" rel="stylesheet">
    <script src="/js/{{ project.shortname }}.main.js" async></script>
  </head>
  <body{{#if body_classes}} class="{{ body_classes }}"{{/if}}>

    {{> header}}
    {{#if home}}{{> hero }}{{/if}}
    <div class="page{{#if page_classes}} {{ page_classes }}{{/if}}">
      {% body %}
    </div>

    {{> footer }}
  </body>
</html>
